<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/img/hot.svg">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
    {{>headerr}}
    <p>I am Harshit Chaniyara. I am created weather website.</p>
    <img class="portrait"src="/img/p1.png" alt="something went to wrong">
    </div>
    {{>footerr}}
    
</body>
</html>