<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help</title>
    <link rel="icon" href="/img/hot.svg">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
    {{>headerr}}
    <p>How can I help you....?</p>
    </div>
    {{>footerr}}
    
</body>
</html>